* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li, a, label, input, p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4, h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;

}

/* nav section */

.main-head {
  background: #131c27;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

.logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: normal;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5),transparent), url('img/landing-page.jpg');
  min-height: 90vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

.booknow {
  padding: 2rem;
  display: block;
  border: 2px solid white;
  border-radius: 16px;
  transition: all 1s ease-in-out;
}

.booknow:hover {
    color: black;
    text-decoration: none;
    background: white;
}
/* locations sections */
#locations{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7),transparent), url('img/new-york-page.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: white;
}

.locations-head{
  width: 90;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;

}
.locations-head h2{
  padding: 1rem 0rem; 
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  padding:0;
}

.locations-head h3 {
  padding-top: 3rem;
  padding:0;
}
.cloud { 
  position: absolute;
  top: 0%;
  right: 0%;
  height: 40rem;
  pointer-events: none;
}
.moving-cloud-1{
 opacity: 0.8;
 animation: cloudanimations 3s infinite;
}
.moving-cloud-2{
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudanimations 3s infinite;
}

/*Benefits section*/
.benefits-head{
background:#343c44;
padding: 3rem;
min-height:30vh;
display: flex;
justify-content: center;
flex-flow: column nowrap;
align-items: center;
text-align: center;
color: white;
}

.benefits-head h2 {
  padding-bottom: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 30vh;
  flex-flow: row wrap;
}

.card{
  background: white;
  flex: 1 1 25rem; 
  min-height: 40vh;
  margin: 2rem 5rem;  
  box-shadow: 0px 4px 15px;
  border-radius: 4px;
}
.image{
  background:#343c44;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cards img{ 
 max-width: 15%;
 margin: 2rem;
}

.card h4 {
  padding: 1rem; 
  text-align: center;
}

.card p {
  padding: 3rem;
  text-align: center;
}



@keyframes cloudanimations {

  from { 
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@media screen and (max-width:932px) {
  
  html {
    font-size: 45%;
  }
  nav {
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .logo {
    padding: 1rem;  
  }

  .cards {
    flex-flow: column wrap;
  }
}


